<td>{{wishlistItem?.subscription?.title!}}</td>
<td *ngIf="!isEditing">{{wishlistItem?.daysAmount}}</td>
<td *ngIf="isEditing">
  <div class="w-1/2 mx-auto flex items-center justify-center">
    <button (click)="increaseDaysBy(-5)" class="border-2 rounded-l"
            style="border-color: var(--primary-color); background-color: var(--primary-color)">-5
    </button>
    <button (click)="increaseDaysBy(-1)" class="border-2"
            style="border-color: var(--primary-color); background-color: var(--primary-color)">-1
    </button>
    <input [(ngModel)]="subscriptionDuration" class="border-2 w-1/5 text-center"
           style="border-color: var(--primary-color)" type="number">
    <button (click)="increaseDaysBy(1)" class="border-2"
            style="border-color: var(--primary-color); background-color: var(--primary-color)">+1
    </button>
    <button (click)="increaseDaysBy(5)" class="border-2 rounded-r"
            style="border-color: var(--primary-color); background-color: var(--primary-color)">-5
    </button>
    <div class="flex justify-center mx-1 space-x-1">
      <button (click)="updateWishlistItem()">
        <img class="w-6" src="assets/icons/submit_icon.svg" alt="">
      </button>
      <button (click)="isEditing=false">
        <img class="w-6" src="assets/icons/cancel_icon.svg" alt="">
      </button>
    </div>
  </div>
</td>
<td>{{calculateTotalPrice() | currency}}</td>
<td class="space-x-2.5 flex items-center justify-center">
  <button class="border">Buy</button>
  <button (click)="subscriptionDuration=wishlistItem?.daysAmount!;isEditing=!isEditing">
    <img class="w-5" src="assets/icons/edit_icon.svg" alt="">
  </button>
  <button (click)="toggleWishlistItem()">
    <img class="w-5" src="assets/icons/heart_filled_icon.svg" alt="">
  </button>
</td>
