<a [routerLink]="['Details', subscription.id]" *ngIf="subscription !== undefined" class="hover:scale-105">
  <div class="border border-2 rounded border-[#d4b07f] w-full m-4">
    <div class=" m-1">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="">
    </div>
    <div class="h-[1px] border border-[#d4b07f] w-2/3 mx-auto"></div>
    <div>
      <h3 class="text-center text-2xl font-bold">{{subscription.title}}</h3>
      <ng-container *ngIf="isDiscountActive();else isNotActive">
        <div class="flex items-center justify-center space-x-1 w-1/2 mx-auto">
          <p class="text-lg font-medium line-through">{{subscription.pricePerDay | currency}}</p>
          <p class="text-lg text-red-500 font-medium">{{calculateDiscountPrice() | currency}}</p>
          <span class="text-sm italic font-normal">Per Day</span>
        </div>
      </ng-container>
      <ng-template #isNotActive>
        <div class="flex items-center justify-center space-x-1 w-1/2 mx-auto">
          <p class="text-lg font-medium">{{calculateDiscountPrice() | currency}}</p>
          <span class="text-sm italic font-normal">Per Day</span>
        </div>
      </ng-template>
      <div class="w-1/2 mx-auto">
        <div class="flex space-x-2 justify-center my-1">
          <ng-container *ngFor="let item of [].constructor(5);index as i">
            <img *ngIf="i + 1 <= subscription.rating;else greaterThanRating" class="h-5 w-5"
                 src="assets/icons/filled_rating_icon.svg" alt="">
            <ng-template #greaterThanRating>
              <img class="h-5 w-5" src="assets/icons/unfilled_rating_icon.svg" alt="">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</a>

