<div class="border-2 w-4/6 mx-auto my-2 rounded" style="border-color: var(--primary-color)">
  <div class="flex items-center justify-between mx-2">
    <h3 class="text-xl font-medium">{{subscription?.title}}</h3>
    <div class="flex items-center space-x-1">
      <div class="flex space-x-2 justify-end">
        <ng-container *ngFor="let item of [].constructor(5);index as i">
          <img *ngIf="i + 1 <= subscription?.rating!; else greaterThanRating" class="h-5 w-5"
               src="assets/icons/filled_rating_icon.svg" alt="">
          <ng-template #greaterThanRating>
            <img class="h-5 w-5" src="assets/icons/unfilled_rating_icon.svg" alt="">
          </ng-template>
        </ng-container>
      </div>
      <p (click)="reviews.showModal()" class="text-sm text-gray-500 hover:cursor-pointer">(<span
        class="underline">{{subscription?.reviews?.length}} reviews</span>)</p>
    </div>
  </div>
  <div class="flex items-center justify-between mx-2">
    <div>
      <ng-container *ngIf="isDiscountActive(); else discountIsNotActive">
        <div class="flex items-center space-x-2">
          <p class="text-lg text-red-500 line-through">{{subscription?.pricePerDay | currency}}</p>
          <p class="text-lg">{{calculateDiscountPrice() | currency}}</p>
          <span class="text-sm italic text-gray-500">Per Day</span>
        </div>
      </ng-container>
      <ng-template #discountIsNotActive>
        <div class="flex items-center space-x-2">
          <p class="text-lg">{{subscription?.pricePerDay | currency}}</p>
          <span class="text-sm italic text-gray-500">Per Day</span>
        </div>
      </ng-template>
    </div>
    <div *ngIf="isUserAuthenticated" class="flex items-center space-x-2">
      <ng-container *ngIf="isUserAuthenticated">
        <ng-container *ngIf="isInWishlist;else notInWishlist">
          <button (click)="toggleWishlistItem()">
            <img class="h-6 w-6" src="assets/icons/heart_filled_icon.svg" alt="">
          </button>
        </ng-container>
        <ng-template #notInWishlist>
          <button (click)="wishlistDaysAmount.showModal()">
            <img class="h-6 w-6" src="assets/icons/heart_unfilled_icon.svg" alt="">
          </button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="isUserAuthenticated && isAllowedToBuy">
        <button (click)="buySubs.showModal()">
          <img class="h-6 w-6" src="assets/icons/wallet_icon.svg" alt="">
        </button>
      </ng-container>
    </div>
  </div>
</div>

<dialog #reviews (keydown.escape)="reviews.close()"
        class="fixed top-1/2 left-1/2 h-1/2 w-1/2 border border-2 rounded rounder-lg overflow-auto"
        style="border-color: var(--primary-color); transform: translate(-50%, -50%); background-color: var(--background-color)">
  <div class="flex justify-end sticky top-0">
    <button class="text-2xl" (click)="reviews.close()">&times;</button>
  </div>
  <div *ngFor="let review of subscription?.reviews" class="w-3/4 mx-auto border border-2 my-2 flex rounded  p-1"
       style="border-color: var(--primary-color)">
    <div class="w-1/4 flex justify-center">
      <img class="w-24 h-24 rounder rounded-[50%]"
           src="https://cdn1.iconfinder.com/data/icons/user-avatar-20/64/18-man-256.png" alt="">
    </div>
    <div class="w-3/4">
      <h3 class="text-lg font-medium">{{review.user?.firstName}} {{review.user?.lastName}}</h3>
      <p class="text-xs italic">Since {{review.user?.registrationDate}}</p>
      <p>{{review.reviewText}}</p>
    </div>
  </div>
</dialog>

<dialog #buySubs (keydown.escape)="buySubs.close()"
        class="fixed top-1/2 left-1/2 h-1/2 w-1/2 border border-2 rounded rounder-lg overflow-auto"
        style="border-color: var(--primary-color); transform: translate(-50%, -50%); background-color: var(--background-color)">
  <div class="flex justify-end sticky top-0">
    <button class="text-2xl" (click)="buySubs.close()">&times;</button>
  </div>
  <div class="1/2 mx-auto my-2">
    <h3 class="text-xl font-medium text-center">Enter days of subscription duration:</h3>
  </div>
  <div class="flex justify-center w-1/2 mx-auto">
    <button (click)="increaseDaysBy(-5)" class="p-1 rounded-l border-r-2 border-black font-medium text-lg"
            style="background-color: var(--primary-color)">-5
    </button>
    <button (click)="increaseDaysBy(-1)" class="p-1 font-medium" style="background-color: var(--primary-color)">-1
    </button>
    <input [(ngModel)]="subscriptionDuration" class="w-2/5 text-center border border-2 mx-0.5 rounded"
           style="background-color: var(--background-color); border-color: var(--primary-color)" type="number"
           min="1">
    <button (click)="increaseDaysBy(1)" class="p-1 font-medium" style="background-color: var(--primary-color)">+1
    </button>
    <button (click)="increaseDaysBy(5)" class="p-1 rounded-r border-l-2 border-black font-medium"
            style="background-color: var(--primary-color)">+5
    </button>
  </div>
  <div class="1/2 mx-auto my-2">
    <h3 class="text-xl font-medium text-center">Total price: {{calculateTotalPrice() | currency}}</h3>
  </div>
  <div class="w-1/3 mx-auto my-2">
    <button (click)="buySubscription(); buySubs.close()"
            class="border-2 w-full text-lg font-medium p-0.5 rounded duration-200 bg-[#d4b07f] text-[#f8efec] hover:bg-[#f8efec] hover:text-[#d4b07f]"
            style="border-color: var(--primary-color)">
      Buy
    </button>
  </div>
</dialog>


<dialog #wishlistDaysAmount class="fixed top-1/2 left-1/2 h-1/2 w-1/2 border border-2 rounded rounder-lg overflow-auto"
        style="border-color: var(--primary-color); transform: translate(-50%, -50%); background-color: var(--background-color)">
  <div class="flex justify-end sticky top-0">
    <button class="text-2xl" (click)="wishlistDaysAmount.close()">&times;</button>
  </div>
  <h3 class="text-center font-medium text-lg">Choose subscription duration:</h3>
  <div class="flex flex-col">
    <div class="flex justify-center w-1/2 mx-auto">
      <button (click)="increaseDaysBy(-5)" class="p-1 rounded-l border-r-2 border-black font-medium text-lg"
              style="background-color: var(--primary-color)">-5
      </button>
      <button (click)="increaseDaysBy(-1)" class="p-1 font-medium" style="background-color: var(--primary-color)">-1
      </button>
      <input [(ngModel)]="subscriptionDuration" class="w-2/5 text-center border border-2 mx-0.5 rounded"
             style="background-color: var(--background-color); border-color: var(--primary-color)" type="number"
             min="1">
      <button (click)="increaseDaysBy(1)" class="p-1 font-medium" style="background-color: var(--primary-color)">+1
      </button>
      <button (click)="increaseDaysBy(5)" class="p-1 rounded-r border-l-2 border-black font-medium"
              style="background-color: var(--primary-color)">+5
      </button>
    </div>
    <div class="flex items-center justify-evenly w-1/4 mx-auto my-3 space-x-3">
      <button (click)="wishlistDaysAmount.close()"
              class="border-2 w-full text-lg font-medium p-0.5 rounded duration-200 bg-[#d4b07f] text-[#f8efec] hover:bg-[#f8efec] hover:text-[#d4b07f]"
              style="border-color: var(--primary-color)">Cancel
      </button>
      <button (click)="toggleWishlistItem(); wishlistDaysAmount.close()"
              class="border-2 w-full text-lg font-medium p-0.5 rounded duration-200 bg-[#d4b07f] text-[#f8efec] hover:bg-[#f8efec] hover:text-[#d4b07f]"
              style="border-color: var(--primary-color)">Submit
      </button>
    </div>
  </div>
</dialog>
