@tailwind base;
@tailwind components;
@tailwind utilities

:root {
  --primary-color: #d4b07f;
  --secondary-color: #f8eac5;
  --background-color: #f8efec;
}

a:hover {
  display: inline-block;
  color: black;
  cursor: pointer;
  transform: scale(1.25);
  transition: .3s;
}
