<h3 *ngIf="userRole === 'admin'" (click)="newAttendance.showModal()" class="m-3 flex items-center hover:cursor-pointer">
  <img class="h-5" src="assets/icons/add_icon.svg" alt="Alternate Text" />
  <span class="underline">Add New Attendance</span>
</h3>
<div class="w-full m-3 flex">
  <div class="w-3/4">
    <table class="border w-full mx-auto">
      <thead>
        <tr style="background-color: var(--primary-color)">
          <th>Attendance Date</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendanceItem of attendance">
          <td class="text-center">{{attendanceItem.attendanceDate}}</td>
          <td class="text-center">{{attendanceItem?.user?.firstName}} {{attendanceItem?.user?.lastName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w-1/4">
    <div class="flex space-x-1 px-2 justify-center items-end">
      <div class="flex flex-col justify-end w-2/5">
        <label class="font-medium text-lg">From: </label>
        <input [(ngModel)]="attendanceFrom" type="date">
      </div>
      <div class="flex flex-col justify-end w-2/5">
        <label class="font-medium text-lg">Till: </label>
        <input [(ngModel)]="attendanceTill" type="date">
      </div>
      <img (click)="getAttendanceFromTill()" class="h-6 mb-0.5 hover:cursor-pointer" src="assets/icons/search_icon.svg">
      <img (click)="getAttendance();attendanceFrom='';attendanceTill=''" class="h-6 mb-0.5 hover:cursor-pointer"
           src="assets/icons/cancel_icon.svg">
    </div>
    <div class="flex flex-col px-2">
      <label class="font-medium text-lg">By User:</label>
      <div class="flex">
        <select [(ngModel)]="userName" class="w-10/12">
          <option *ngFor="let attendanceItem of getUniqueUsers()">{{attendanceItem?.user?.firstName}} {{attendanceItem?.user?.lastName}}</option>
        </select>
        <div class="w-1/12">
          <img (click)="getAttendanceByUser()" class="hover:cursor-pointer" src="assets/icons/search_icon.svg" alt="" />
        </div>
        <div class="w-1/12">
          <img (click)="getAttendance()" class="hover:cursor-pointer" src="assets/icons/cancel_icon.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<dialog #newAttendance class="fixed top-1/3 left-1/3 h-1/3 w-1/3 border border-2 rounded rounder-lg overflow-auto" style="border-color: var(--primary-color); transform: translate(-50%, -50%); background-color: var(--background-color)">
  <div class="flex justify-end sticky top-0">
    <button class="text-2xl" (click)="newAttendance.close()">&times;</button>
  </div>
  <div class="flex flex-col items-center space-y-2">
    <div class="w-1/2 flex flex-col">
      <label class="text-lg font-medium">Enter a user:</label>
      <select [(ngModel)]="newAttendanceDate.userName">
        <option *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
      </select>
    </div>
    <button (click)="createAttendance()" class="w-1/3 font-medium text-lg border-2 rounded"
            style="border-color: var(--primary-color); background-color: var(--primary-color); color: var(--background-color)">
      Create
    </button>
  </div>
</dialog>
