<footer>
  <div style="background-color: var(--primary-color)">
    <div class="container mx-auto flex justify-between font-medium">
      <div class="w-[25%]">
        <h3 class="text-lg underline">Fitness Club</h3>
        <p class="font-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
      </div>
      <div class="w-[25%]">
        <h3 class="text-lg font-medium underline">Contacts</h3>
        <div>
          <div class="flex items-center space-x-1">
            <img style="width: 20px; height: 20px;" src="assets/icons/email_icon.svg" alt="">
            <p>fitnessclub@gmail.com</p>
          </div>
          <div class="flex items-center space-x-1">
            <img style="width: 20px; height: 20px;" src="assets/icons/phone_icon.svg" alt="">
            <p>+380(95)61-01-241</p>
          </div>
          <div class="flex items-center space-x-1">
            <img style="width: 20px; height: 20px;" src="assets/icons/house_icon.svg" alt="">
            <p>6799 Lake View Circle</p>
          </div>
        </div>
      </div>
      <div class="w-[25%]">
        <h3 class="text-lg underline">Legal</h3>
        <a>Privacy Policy</a><br>
        <a>Terms of Use</a>
      </div>
    </div>
  </div>
</footer>

<footer>
  <div style="background-color: var(--secondary-color)">
    <div class="container mx-auto">
      <div class="flex items-center justify-between py-2.5">
        <span class="text-xl">© Copyright: Fitness Club - 2023</span>
        <ul class="flex space-x-3">
          <li><a href="https://twitter.com" target="_blank"><img src="assets/icons/twitter_icon.svg" alt=""></a></li>
          <li><a href="https://youtube.com" target="_blank"><img src="assets/icons/youtube_icon.svg" alt=""></a></li>
          <li><a href="https://facebook.com" target="_blank"><img src="assets/icons/facebook_icon.svg" alt=""></a></li>
          <li><a href="https://tiktok.com" target="_blank"><img src="assets/icons/discord_icon.svg" alt=""></a></li>
          <li><a href="https://discord.com" target="_blank"><img src="assets/icons/tiktok_icon.svg" alt=""></a></li>
          <li>
            <a href="https://instagram.com" target="_blank"><img src="assets/icons/instagram_icon.svg" alt=""></a>
          </li>
          <li><a href="https://github.com/Fr1senn/FintessClub" target="_blank">
            <img src="assets/icons/github_icon.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
