<footer>
  <div style="background-color: var(--primary-color)">
    <div class="container mx-auto">
      <div class="flex items-center justify-between py-2.5">
        <span class="text-xl">© Copyright: Fitness Club - 2023</span>
        <ul class="flex space-x-3">
          <li><a href="https://twitter.com" target="_blank"><img src="assets/icons/twitter_icon.svg" alt=""></a></li>
          <li><a href="https://youtube.com" target="_blank"><img src="assets/icons/youtube_icon.svg" alt=""></a></li>
          <li><a href="https://facebook.com" target="_blank"><img src="assets/icons/facebook_icon.svg" alt=""></a></li>
          <li><a href="https://tiktok.com" target="_blank"><img src="assets/icons/discord_icon.svg" alt=""></a></li>
          <li><a href="https://discord.com" target="_blank"><img src="assets/icons/tiktok_icon.svg" alt=""></a></li>
          <li>
            <a href="https://instagram.com" target="_blank"><img src="assets/icons/instagram_icon.svg" alt=""></a>
          </li>
          <li><a href="https://github.com/Fr1senn/FintessClub" target="_blank">
            <img src="assets/icons/github_icon.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
