
<ng-container *ngIf="!isEditing; else editing">
  <td>{{subscription?.title}}</td>
  <td>{{subscription?.pricePerDay | currency}}</td>
  <td>{{subscription?.rating}}</td>
  <td>{{getSubscriptionDiscount()?.discountPercentage}}</td>
  <td>{{getSubscriptionDiscount()?.isActive}}</td>
</ng-container>
<ng-template #editing>
  <td><input [(ngModel)]="editedSubscription.title" class="text-center" type="text" /></td>
  <td><input [(ngModel)]="editedSubscription.pricePerDay" class="text-center" type="number" step="0.1" min="1" /></td>
  <td>{{subscription?.rating}}</td>
  <td><input [(ngModel)]="editedSubscription.discountPercentage" class="text-center" type="number" /></td>
  <td><input [(ngModel)]="editedSubscription.isActive" type="checkbox" /></td>
</ng-template>
<td>
  <div class="space-x-1">
    <img (click)="isEditing=!isEditing" class="h-5 inline-block mx-auto: hover:cursor-pointer" src="assets/icons/edit_icon.svg" alt="Alternate Text" />
    <img (click)="updateSubscription();isEditing=false" *ngIf="isEditing" class="h-5 inline-block mx-auto: hover:cursor-pointer" src="assets/icons/submit_icon.svg" alt="Alternate Text" />
  </div>
</td>
