<div class="flex">
  <div class="w-1/4 my-3 bg-white rounded">
    <div class="w-1/4 mx-auto rounded-full mt-3 mb-2">
      <img class="w-24" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
    </div>
    <div class="flex items-center justify-center space-x-2 my-2">
      <h3 class="text-center font-medium text-lg">{{user?.firstName}} {{user?.lastName}}</h3>
      <p class="text-gray-500 text-xs italic">Since {{user?.registrationDate}}</p>
    </div>
    <hr>
    <div>
      <h3 class="font-medium text-lg m-2">Contact Information</h3>
      <ul>
        <li class="m-2">
          <p class="text-sm text-gray-500 italic">Email Address:</p>
          <h3>{{user?.email}}</h3>
        </li>
        <li class="m-2">
          <p class="text-sm text-gray-500 italic">Birth Date:</p>
          <h3>{{user?.birthDate}}</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-3/4 h-1/5 m-3 flex items-center rounded-t" style="background-color: rgba(212, 176, 127, 0.65)">
    <div class="flex items-center space-x-4 w-full justify-around my-1">
      <a class="font-medium">Reviews</a>
      <a class="font-medium">Orders</a>
      <a class="font-medium">Wishlist</a>
    </div>
  </div>
</div>
