<header style="background-color: var(--primary-color)">
  <div class="container mx-auto">
    <nav class="flex items-center justify-between py-2.5">
      <a [routerLink]="['']" class="text-3xl font-bold">Fitness Club</a>
      <ul class="flex items-center space-x-4 text-lg font-medium">
        <li>
          <a [routerLink]="['Subscriptions']">Subscriptions</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
      </ul>
      <div class="flex items-center space-x-4">
        <ul class="flex items-center space-x-2">
          <li *ngIf="isLoggedIn" [routerLink]="['']"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Profile
          </li>
          <li *ngIf="isLoggedIn" (click)="logout()"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Sign Out
          </li>
          <li *ngIf="!isLoggedIn" [routerLink]="['Registration']"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Sign Up
          </li>
          <li *ngIf="!isLoggedIn" [routerLink]="['Login']"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Sign In
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
