<header style="background-color: var(--primary-color)">
  <div class="container mx-auto">
    <nav class="flex items-center justify-between py-2.5">
      <a [routerLink]="['']" class="text-3xl font-bold">Fitness Club</a>
      <ul *ngIf="userRole !== 'user' && userRole !== 'guest'">
        <li [routerLink]="['AdminPanel']"
            class="text-lg font-medium hover:cursor-pointer duration-[250ms] hover:scale-110">Admin Panel
        </li>
      </ul>
      <div class="flex items-center space-x-4">
        <ul class="flex items-center space-x-2">
          <li *ngIf="isLoggedIn" [routerLink]="['Profile']"
              class="text-lg font-medium hover:cursor-pointer duration-[250ms] hover:scale-110">
            <img class="h-8 w-8" src="assets/icons/profile_icon.svg" alt="">
          </li>
          <li *ngIf="isLoggedIn" (click)="logout()"
              class="text-lg font-medium hover:cursor-pointer duration-[250ms] hover:scale-110">
            <img class="h-8 w-8" src="assets/icons/sign_out_icon.svg" alt="">
          </li>
          <li *ngIf="!isLoggedIn" [routerLink]="['Registration']"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Sign Up
          </li>
          <li *ngIf="!isLoggedIn" [routerLink]="['Login']"
              class="text-lg font-medium p-1 border-2 rounded border-black hover:cursor-pointer duration-[250ms] hover:scale-110">
            Sign In
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
