<ng-container *ngIf="orders?.length === 0; else notEmptyOrders">
  <h3 class="text-center text-xl font-medium text-gray-400 italic">You have no orders yet</h3>
</ng-container>
<ng-template #notEmptyOrders>
  <table class="border w-3/4 mx-auto my-3">
    <thead>
    <tr style="background-color: var(--primary-color)">
      <th>Purchase Date</th>
      <th>Amount of Days</th>
      <th>Subscription</th>
      <th>Price</th>
      <th>Days Left</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td class="text-center">{{order.purchaseDate}}</td>
      <td class="text-center">{{order.daysAmount}}</td>
      <td class="text-center">{{order.subscription?.title}}</td>
      <td class="text-center">{{order.price | currency}}</td>
      <td class="text-center">{{calculateDaysLeft(order.purchaseDate, order.daysAmount)}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
